/* заголовки color: #2E2F42; */
/* основной текст color: #434455; */

:root {
    --main-text-color: #434455;
    --title-text-color: #2E2F42;
    --active-color: #4D5AE5;
    --logo-color: #4D5AE5;
    --bgc: #ffffff; 
    --secondary-bgc: #2E2F42;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none; 
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ---------HEADER------------- */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;

    margin-right: 76px;
}

.logo:hover, .logo:focus,.logo:hover .logo-one,
.logo:focus .logo-one {
    color: #000000;
}

.logo-one {
    color: var(--logo-color);

}

.logo-one:hover, .logo-one:focus {
    color: #000000;
}


/* site nav */
.site-nav-main {
    display: flex;
}

.site-nav {
    display: flex;
}
.site-nav .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.site-nav .link:hover,.site-nav .link:focus, .site-nav .link.current {
    color: var(--active-color);
} 

.site-nav .item:not(:last-child) {
    margin-right: 40px;
}

.site-nav .item:last-child {
    margin-right: 0;
}
.auth-nav {
    display: flex;
    
}
.auth-nav .link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    
    
}

 .auth-nav .item:not(:last-child) {
    margin-right: 40px;
    margin-left: 350px;
} 


.auth-nav .link:hover, .auth-nav .link:focus {
color: var(--active-color);
}

/* --------HERO------- */
.hero {
    background-color: var(--secondary-bgc)
    
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    padding-top: 188px;
    padding-bottom: 48px;
}

.hero-button {
    font-family: inherit;
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    border: solid transparent; 
}

.button-main {
    padding-bottom: 188px;
    display: flex;
    justify-content: center;
}

.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/* -------QUALITY------- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section {
    background-color: var(--bgc);
}

.section-discription {
    margin-right: 24px;
}

.qualities-items {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;

}

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color)
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02; 
    color: var(--main-text-color);
}

.possibilities-pics {
    display: flex;
}

.pics {
    margin-top: 72px;
    margin-bottom: 120px;
}

.pics:not(:last-child) {
    margin-right: 24px;
}



.possibilities-title {
    text-transform: capitalize;
    background-color: var(--bgc);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.team {
    background-color:#F4F4FD;;
}

.main-team {
    display: flex;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding-top: 120px;
    padding-bottom: 72px;
}
.team-link {
    background-color: var(--bgc); 
}

.team-link {
    margin-right: 24px;
    margin-bottom: 120px;
}

.team-person {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.team-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: var(--main-text-color);
}

/* ----FOOTER------ */

.footer {
    background-color: var(--secondary-bgc);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-logo:hover,.footer-logo:focus,.footer-logo:hover .logo-one,
.footer-logo:focus .logo-one {
    color: #000000;
}
.logo-main-footer {
    display: flex;
    padding-top: 100px;
    padding-bottom: 16px;
}


.footer-text {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    padding-bottom: 100px;

}

/* -----PORTFOLIO------ */
.list {
    display: flex;
    justify-content: center;
}
.list-button{
    background: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    

    align-items: center;
    padding: 12px 24px;
    margin-right: 24px;
    margin-top: 96px;
    margin-bottom: 72px;
    min-width: 78px;
    min-height: 48px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.list-button:hover, .list-button:focus {
    background: #404BBF;
    color: #ffffff;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    
   
}


.items {
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
    border: 1px solid #E7E9FC;
}

.items:nth-child(3n) {
    margin-right: 0;
}

.items-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color)
}

.items-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}